html, body {
    /*width: 640px;
    height: 480px;*/
    overflow: hidden;
    background: #000;
    color: white;

    font-family: 'Torus', sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: 'Torus';
    src: url('/public/fonts/Torus Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Torus';
    src: url('/public/fonts/Torus Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Torus';
    src: url('/public/fonts/Torus Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
